@use "utilities" as *;

:root {
  --timing-fade-in: .32s;
  --timing-fade-out: 1.1s;
  --size-line: 3.5px;
  --demo-offset: 30%;
  --fill-topbar-out: #e9e5e4;
  --fill-topbar-in: #f5f3f1;
  --fill-page: #f5f3f1;
  --fill-line: #a6a4a1;
  --spacing-link-offset: -.5rem;
  --radius-link-outline: 4px;
}

@mixin topbar-fade-out {
  transition: opacity var(--timing-fade-out) cubic-bezier(.6,0,.84,.44)
}

@mixin topbar-fade-in {
  transition: opacity var(--timing-fade-in) cubic-bezier(.3,0,.35,1);
}

body {
  background: var(--fill-page);
  color: #121110;
  font: 560 20px/24px system-ui, sans-serif;
  letter-spacing: -.018rem;
}

a {
  color: #9F1700;
}

.topbar {
  background-color: var(--fill-topbar-out);
  box-shadow: 0 var(--size-line) 0 0 var(--fill-line);
  position: relative;
  
  // Backdrop that shows when
  // interacting with the top bar
  &::before {
    @include pseudo-overlay;
    @include topbar-fade-out;
    
    background: var(--fill-topbar-in);
    opacity: 0;
    pointer-events: none;
    user-select: none;
  }
  
  // Overlay that applies a “dimming”
  // effect to bar and anything underneath
  // (TODO: fiddle with filters)
  &::after {
    @include pseudo-overlay;
    @include topbar-fade-out;
    
    background: #00000000;
    backdrop-filter: grayscale(100%) brightness(106%) contrast(98%) sepia(4%);
    -webkit-backdrop-filter: grayscale(100%) brightness(106%) contrast(98%) sepia(4%);
    opacity: 1;
    pointer-events: none;
  }
  
  &:focus-within,
  &:hover {
    &::before {
      @include topbar-fade-in;
      
      opacity: .9;
    }
    
    &::after {
      @include topbar-fade-in;
      
      opacity: 0;
    }
    
    .home::after {
      @include topbar-fade-in;
      
      opacity: 1;
    }
  }
  
  
  &__contents {
    display: flex;
    position: relative;
  }
}

.breadcrumbs {
  display: flex;
  flex: 1 1 100%;
  padding: 3rem 2rem 2rem;
  
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  
  li {
    flex: 0 1 auto;
  }
  
  a {
    @include topbar-fade-in;
    
    opacity: .858;
    position: relative;
    
    .topbar:hover &,
    .topbar:focus-within & {
      @include topbar-fade-in;
      
      opacity: 1;
    }
  }
  
  a::before {
    @include pseudo-link-offset;
  }
  
  li + li:not(:last-child)::before {
    color: #524F4C;
    content: '→';
    padding: 0 .5rem;
  }
  
  li[aria-current="page"] {
    flex: 0 0 100%;
  }
}

.home {
  display: flex;
  flex: 0 0 var(--demo-offset);
  padding: 3rem 2rem 2rem;
  position: relative;
  
  &::after {
    @include pseudo-overlay;
    @include topbar-fade-out;
    
    box-shadow: var(--size-line) 0 0 0 var(--fill-line);
    opacity: 0;
    pointer-events: none;
  }
  
  &__logo {
    padding: 0 2rem 0 0;
  }
  
  &__label {
    @include topbar-fade-out;
    
    opacity: 0;
    
    .topbar:hover &,
    .topbar:focus-within & {
      @include topbar-fade-in;
      
      opacity: 1;
    }
  }
}