@use "utilities" as *;

:root {
  --timing-fade-in: .32s;
  --timing-fade-out: 1.1s;
  --size-line: 3.5px;
  --demo-offset: 30%;
  --fill-navigation-out: #e9e5e4;
  --fill-navigation-in: var(--fill-page-default, #f5f3f1);
  --fill-navigation-line: #a6a4a1;
  --spacing-link-offset: -.25rem;
  --radius-link-outline: 4px;
}

@mixin topbar-fade-out {
  transition: opacity var(--timing-fade-out) cubic-bezier(.6,0,.84,.44)
}

@mixin topbar-fade-in {
  transition: opacity var(--timing-fade-in) cubic-bezier(.3,0,.35,1);
}

.navigation {
  @include typography(560, $t0, s(3), rem(-.008));
  
  align-items: baseline;
  flex: 0 0 auto;
}

.navigation svg {
  width: rem(46);
  height: rem(36);
}

.topbar {
  background-color: var(--fill-navigation-out);
  box-shadow: 0 var(--size-line) 0 0 var(--fill-navigation-line);
  position: relative;
  z-index: 1;
  
  // Backdrop that shows when interacting with the top bar
  &::before {
    @include pseudo-overlay;
    @include topbar-fade-out;
    
    background: var(--fill-navigation-in);
    opacity: 0;
    pointer-events: none;
    user-select: none;
  }
  
  // Overlay that applies a “dimming” effect to anything underneath bar
  // (TODO: fiddle with filters)
  &::after {
    @include pseudo-overlay;
    @include topbar-fade-out;
    @include backdrop-filter(grayscale(100%) brightness(106%) contrast(98%) sepia(4%));
    
    background: #00000000;
    opacity: 1;
    pointer-events: none;
    z-index: 2;
  }
  
  &:focus-within,
  &:hover {
    &::before {
      @include topbar-fade-in;
      
      opacity: .9;
    }
    
    &::after {
      @include topbar-fade-in;
      
      opacity: 0;
    }
  }
  
  &__contents {
    @extend %layout-base;
    
    position: relative;
  }
}

// Intrinsic height based off this
.home {
  display: flex;
  grid-area: minor;
  height: s(16);
  padding: s(6) 0 s(5);
  position: relative;
  
  @include at-least(w1) {
    height: s(18);
    padding: s(8) 0 s(5);
  }
  
  path {
    fill: $hue-orange-33;
  }
  
  &::after {
    @include pseudo-overlay;
    @include topbar-fade-out;
    @include smooth-box(19, 19, 19, 19);
    
    background: $hue-neutral-99;
    display: none;
    left: s(-4);
    right: s(-4);
    top: s(2);
    bottom: s(2);
    opacity: 0;
    mix-blend-mode: darken;
    
    @include at-least(w1) {
      display: block;
      left: s(-3);
      right: s(-3);
      top: s(2);
      bottom: s(2);
    }
    
    @include at-least(w3) {
      display: block;
      left: s(-4);
      right: s(-4);
    }
    
    .topbar:hover &,
    .topbar:focus-within & {
      @include topbar-fade-in;
      
      opacity: 1;
    }
  }
  
  &:focus {
    outline: none;
  }
  
  &:focus::after {
      box-shadow: 0 0 0 rem(6) $hue-neutral-99 inset, 0 0 0 rem(9) currentColor inset;
      border-radius: rem(15);
  }
  
  &__label {
    @include topbar-fade-out;
    
    flex: 1 1 100%;
    opacity: 0;
    padding: 0 s(4) 0 0;
    text-align: right;
    
    .topbar:hover &,
    .topbar:focus-within & {
      @include topbar-fade-in;
      
      opacity: 1;
    }
  }
  
  &__logo {
    align-items: flex-end;
    display: flex;
    flex: 0 0 auto;
    margin: 0 0 rem(-1.2);
  }
}

.breadcrumbs {
  align-items: stretch;
  display: flex;
  flex: 1 1 100%;
  grid-area: major;
  padding: 0;
  
  ul {
    align-items: flex-end;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  li {
    flex: 0 1 auto;
    list-style: none;
    list-style-type: none;
  }
  
  a {
    @include topbar-fade-in;
    
    opacity: 1;
    position: relative;
    
    .topbar:hover &,
    .topbar:focus-within & {
      @include topbar-fade-in;
      
      opacity: 1;
    }
  }
  
  .crumbspace {
    flex: 1 1 100%;
    
    &::after {
      content: ' ';
    }
  }
  
  li[aria-current="page"] {
    flex: 0 0 100%;
  }
  
  a::before {
    @include pseudo-link-offset;
  }
  
  li + li:not(:last-child)::before {
    color: #524F4C;
    content: '→';
    padding: 0 .5rem;
  }
}
