<!--
  TODO: Change data handling so navigation can be used like any other macro.
  For now, it uses an `include` statement so breadcrumbs work as expected.
-->

<div class="navigation">
  <div class="topbar">
    <div class="topbar__contents">
      <a aria-label="Return to home" href="/" class="home">
        <span class="home__label">Home</span>
        <span class="home__logo" aria-hidden="true">
          {% svg "./src/assets/svg/site-logo.svg", "JM logo", "home__svg" %}
        </span>
      </a>
      <nav aria-label="Breadcrumb" class="breadcrumbs">
        <ul>
          {% if breadcrumb.length < 2 %}
            <li class="crumbspace" aria-hidden="true"></li>
          {% else %}
            {% for crumb in breadcrumb %}
            {% if loop.last == false %}
            <li>
              <a href="{{crumb.url}}">{{crumb.name}}</a>
            </li>
            {% endif %}
            {% endfor %}
          {% endif %}
          <li class="breadcrumb__current" aria-current="page">{{ title }}</li>
        </ul>
      </nav>
    </div>
  </div>
</div>