<div class="topbar">
  <div class="topbar__contents">
    <a aria-label="Return to home" href="#" class="home">
      <span class="home__logo" aria-hidden="true">JM</span><span class="home__label">Home</span></a>
  <nav aria-label="Breadcrumbs" class="breadcrumbs">
    <ul>
      <li><a href="#">Case Studies</a></li>
      <li><a href="#">Smarthome</a></li>
      <li aria-current="page">Essay: Beyond a button??????1234</li>
    </ul>
  </nav>
  </div>
</div>