---
title: Websites

permalink: /websites/index.html

ogdesc: I make websites!

ogimage: /img/og-websites.png

layout: default/default.njk
---

{% from "src/blocks/content/content.njk" import content %}

{{ content() }}
{{ content() }}