{#
  Base Layout

  The foundation for all other page layouts.
  Head matter, outermost body container, and script declarations live here.
  
  {{
    ogtitle/titletag     Title (≈60 ch) shown when a link to the page is shared.
    ogimage     Path to image (1200 W × 630 H) used as the link’s thumbnail.
    ogdesc      Extra caption (≈80 ch) included with link on most platforms/Google.
    stylehref   Path to stylesheet to use.
    titletag    Text to use in the title tag (and usually by Google).
    themecolor  Color pulled into Safari and Android UI
  }}
  
  Always include a leading slash in template paths: "/pdf/resume.pdf"
#}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="apple-mobile-web-app-title" content="John Matula">
    <meta name="application-name" content="John Matula">
    <meta name="msapplication-TileColor" content="{{ themecolor | default('#C2BEBB') }}">
    <meta name="theme-color" content="{{ themecolorLight | default('themecolor') | default('#C2BEBB') }}" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="{{ themecolorDark | default('themecolor') | default('#C2BEBB') }}" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="{{ themecolor | default('#C2BEBB') }}">
    <meta name="author" content="John Matula">
    <meta name="description" content="{{ ogdesc }}">
    <meta name="title" content="John Matula">
    <meta name="keywords" content="John Matula,jmatula,matula,johnmatula,johnmatu,johnmatu.la,john matu,matulaspatula,Johnathan Matula,graphic designer,visual designer,UX,UI,voice,voiceover,VO,pianist,piano,acting,actor">
    <meta property="og:site_name" content="John Matula" />
    <meta property="og:title" content="{% if titletag %}{{ titletag }}{% else %}John Matula{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://johnmatu.la{{ page.url }}" />
    <meta property="og:image" content="https://johnmatu.la{{ ogimage }}" />
    <meta property="og:description" content="{{ ogdesc }}">
    <link rel="stylesheet" href="{{ stylehref }}">
      
    <title>{% if titletag %}{{ titletag }}{% else %}John Matula{% endif %}</title>
  
  </head>
    
  <body x-data="base()" data-a11y="unset" data-js="unset" data-alpinejs="unset" x-init="getBaseReady">
    <div class="root">      
      {{ content | safe }}
    </div>
  
    <script defer type="module" src="/js/alpine.min.js"></script>
    <script nomodule defer src="/js/alpine.es5.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
