---
title: Page not found
titletag: Once upon a 404

layout: default/default.njk

permalink: /404.html
---



{% block content %}

{% svg "./src/assets/svg/home-art.svg", "John does design, web, and talent.", "hero" %}


{% endblock %}
