---
title: Page not found
titletag: John Matula  ╱  Once upon a 404...

layout: default/default.njk

permalink: /404.html

themecolor: #101112

ogdesc: This page couldn’t be found.
---

{% from "src/blocks/br/br.njk" import br %}


{% block content %}

<section class="general">
	<p>Well hm, sorry about this. {{br()}} Let me find this page and get back to you.</p>
	<p><a href="/">&larr; Home</a></p>
</section>


{% endblock %}
