---
title: Home
titletag: John Matula

layout: home/home.njk

permalink: /index.html

ogdesc: I’m John, a human! I’m here for graphic design; websites and accessibility audits; and talent work in piano, singing, acting, and voiceovers.

ogimage: /assets/og/og-home.png
---



{% block content %}

{% svg "./src/assets/svg/home-art.svg", "John does design, web, and talent.", "hero" %}


{% endblock %}
