---
layout: _base/base.njk
stylehref: /css/home.css
---


{% block content %}
{% include "../../blocks/navigation/navigation.njk" %}

<main class="content">
  <div class="content__contents">
    {{ content | safe }}
  </div>
</main>
{% endblock %}
{% include "../../blocks/footer/footer.njk" %}
