---
layout: _base/base.njk
stylehref: /css/home.css
titletag: "John Matula  |  Design Web Talent"
---



{% block content %}
<main class="columns">
  {% include "../../blocks/navigation/navigation.njk" %}
  
  {{ content | safe }}
</main>
{% endblock %}