@use "../_base/base" as *;
@use "_layout" as *;

:root {
	--fill-page: #{$hue-neutral-cc};
	--color-text: #{$hue-neutral-00};
	
	--fill-navigation-out: #{rgba($hue-neutral-cc,.88)};
	--fill-navigation-in: #{$hue-neutral-cc};
	--fill-navigation-line: #{$hue-neutral-99};
	
	
	@include theme(dark) {
		--fill-page: #{$hue-neutral-18};
		--color-text: #{$hue-neutral-cc};
		
		--fill-navigation-out: #{$hue-neutral-00};
		--fill-navigation-in: #{$hue-neutral-00};
		--fill-navigation-line: #{$hue-neutral-66};
	}
}

.art--orbiter {
	font-family: $font-text;
}


.navigation {
	color: $hue-neutral-00;
	
	@include theme(dark) {
		color: $hue-neutral-ff;
	}
	
	.home__svg path {
		fill: $hue-orange-66;
		
		@include theme(dark) {
			fill: $hue-orange-66;
		}
	}
	
	a {
		@include theme(dark) {
			color: $hue-orange-99;
		}
	}
}

.hero {
	.hero__art {
		display: inline-block;
		grid-column: root;
		
		@include at-least(w1) {
			grid-column: major;
		}
	}
	
	&__svg {
		display: inline-block;
		grid-column: major;
		
		@include at-least(w0) {
			grid-column: major / root;
		}
	}
}

.content {
	@include typography(480, $t0, s(3.5), rem(-.02), 16, rem(.004));
	
	align-items: stretch;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-feature-settings: 'pnum' 1;
	
	&__contents {
		align-items: stretch;
		flex: 0 0 auto;
		flex-direction: column;
	}
	
	p a, li a {
		@include theme(dark) {
			color: var(--color-link, #{$hue-orange-cc});
		}
		
		&:hover, &:focus {
			@include theme(dark) {
				color: var(--color-link, #{$hue-orange-ff});
			}
		}
		
		&:active {
			@include theme(dark) {
				color: var(--color-link, #{$hue-orange-99});
			}
		}
	}
	
	section {
		@extend %layout-base;
	}
	
	section.general {
		padding: s(4) 0;
	}
	
	p, ol, ul, .sprite, .heading, .linklist, .buttonset {
		grid-column: major;
	}
	
	p, li {
		max-width: s(65);
	}
	
	p ~ p, ul {
		padding: s(3.5) 0 0;
	}
	
	li + li {
		padding: s(1.5) 0 0;
	}
	
	h1 {
		
	}
	
	h2 {
		@include typography(580, $t2, s(5), rem(-.035), 0, 0);
	}
	
	h3 {
		
	}
	
	ul {
		margin: 0 0 0 s(4);
	}
	
	li {
		list-style: none;
		position: relative;
		
		&::before {
			background-color: currentColor;
			text-indent: -9999px;
			user-select: none;
			pointer-events: none;
			content: '•'; // for safari?
			height: s(.25);
			width: s(2);
			position: absolute;
			margin: s(1.5, 1) 0 0 s(-4);
		}
	}
	
	a.button {
		&:focus {
			box-shadow: 0 0 0 rem(6) $hue-neutral-99 inset, 0 0 0 rem(8.5) $hue-neutral-33 inset;
			border-radius: rem(15);
			outline: none;
			
			@include theme(dark) {
				box-shadow: 0 0 0 rem(6) $hue-neutral-33 inset, 0 0 0 rem(8.5) $hue-neutral-99 inset;
			}
		}
	}
	
	.subtitle {
		@include typography(480, $t2, s(5), rem(-.043), 0, 0);
	}
	
	.metadata {
		@include typography(680, $t-1, s(1.5), rem(.12), 0, 0);
	}
	
	
	.caption {
		@include typography(520, $t-1, s(3), rem(.2), 0, 0, $font-text);
		margin: s(8) 0;
		
		a {
			text-decoration-thickness: rem(1.25);
		}
	}
	
	.twarn {
		
		margin: s(16) 0 s(16) s(8);
		position: relative;
		
		&::before {
			background: $hue-orange-cc;
			content: 'Warning: ';
			display: block;
			position: absolute;
			text-indent: -9999px;
			overflow: hidden;
			left: s(-8);
			top: s(.5);
			width: s(2);
			height: s(2);
			transform: rotate(45deg);
		}
		
		@include at-least(w1) {
			margin: s(16) 0;
		}
	}
}


.related, .related + .divider {
	margin: s(8) 0 0;
}


.hero--blip {		
	.hero__art {
		padding: s(12) 0 0;
		
		@include at-least(w1) {
			margin: 0 0 0 s(-14);
		}
	}
	
	svg {
		height: rem(488 / 2);
		
		@include at-least(w0) {
			height: rem(408);
		}
	}
}

.divider--blip {
	margin: s(-13, 2) 0 0;
	mix-blend-mode: difference;
}

.content--essay {
	p {
		@include typography(460, $t0, s(4.5), rem(.35), 22, rem(.12), $font-display);
	}
	
	p ~ p, ul, ul ~ p {
		padding-top: s(5);
	}

}


.hero.hero--where {
	background: $hue-black;
	position: relative;
	
	.hero__lines {
		display: none;
		position: absolute;
		padding: rem(372) 0 rem(128) 0;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		
		svg {
			width: 100%;
		}
		
		@include at-least(w0) {
			display: block;
		}
	}
	
	.hero__art {
		display: block;
		grid-column: root;
		position: relative;
		padding: rem(372) 0 rem(128) 0;
		
		@include at-least(w0) {
			justify-content: center;
			display: flex;
		}
		
		@include at-least(w1) {
			grid-column: major / root;
			justify-content: flex-start;
		}
	}
	
	svg {
		max-height: rem(312 / 3 * 2);
	}
	
	@include at-least(w0) {
		svg {
			max-height: none;
			height: rem(312 / 3 * 2);
		}
	}
	
	@include at-least(w1) {
		margin: 0 0 0 s(-25);
		max-width: calc(100% + #{s(25)});
		width: calc(100% + #{s(25)});
		
		svg {
			height: rem(312 / 4 * 3);
		}
	}
	
	@include at-least(w2) {
		margin: 0 0 0 s(-30);
		max-width: calc(100% + #{s(30)});
		width: calc(100% + #{s(30)});
		
		svg {
			height: rem(312);
		}
	}
	
	@include at-least(w3) {
		margin: 0 0 0 s(-35);
		max-width: calc(100% + #{s(35)});
		width: calc(100% + #{s(35)});
	}
}
	